<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pet Details</title>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
          <!-- We can use the variable of name
           that we passed in this is
           is from the context from the response
           -->
            {{ name }} Pet Adoption Matcher!
        </h1>
        <p class="text-lg mb-2">Find your perfect pet match today!</p>
        <!-- Right below we're going to loop over
         all of the pet types that we have. -->
        <section>
            <h2 class="text-2xl font-semibold mb-4">Available Pet Types</h2>
            <ul class="list-disc pl-5">
            <!-- we're going to be looping through
             the pet types, but it's a dictionary so
             it's slightly different -->
            {% for pet_type, pet in pet_types.items %}
            <!-- the reason we use pet_types.items
             is because it's a dictionary
             pet_type will be the key.
             pet will be the value.
             -->
                <li class="mb-2">
                    <!-- each pet instance -->
                    {{ pet_type }}
                </li>
            {% endfor %}
            </ul>
        </section>
    </div>
  </body>
</html>