<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- This will be using tailwind for styling -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
            Hello, I'm using a backend framework!
        </h1>
        <!-- We added this line/section. -->
        <div class="bg-white shadow rounded-xl p-4 mb-4">
            <p class="text-lg mb-2">Just finished building my portfolio site!</p>
            <span class="text-sm text-gray-500">May 8, 2025</span>
        </div>
        <!-- Our first template tag -->
        <p>{% debug %}</p>
    </div>
  </body>
</html>