{% extends "base.html" %}

{% block title %}
    <!-- this will override what's in the title tag
        of the base.html
    -->
    Our Pet Adoption app.
{% endblock %}

{% block content %}
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
          Welcome to the Pet Adoption Matcher!
        </h1>
        <p class="text-lg mb-2">Find your perfect pet match today!</p>
        <!-- New section using jinja templates -->
        <section>
            <h2 class="text-2xl font-semibold mb-4">Available Pet Types</h2>
            <ul class="list-disc pl-5">
            <!--
                Last class we saw how to loop through a list.
                Below we loop through a dictionary using the items property.
                The items property returns a list of tuples, where each tuple is a key-value pair.
            -->
            {% for pet_type, pet in pet_types.items %}

                <li class="mb-2">
                    <!-- I've made everything in the link the list item
                    part of a link.
                    We're going to use the "pet_type_details" url name
                    and also pass in the pet_type as an argument to that url
                    -->
                    <a href="{% url 'pet_type_details' pet_type=pet_type %}">
                        <!-- This is the key-->
                        <strong>{{ pet_type }}</strong>
                        <div>
                            <!-- This is the whic hsi a dictionary itself -->
                            {{pet.traits}}
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>

        </section>
    </div>
{% endblock content %}

<!--
    I didn't include a footer
    in my home_page.html,
    so this is going to use the
    base footer of the app.
-->








