{% extends "base.html" %}

{% block content %}

<div class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold underline">
        <!-- title here-->
        {{ company.name }}
    </h1>
    <!-- Information about the company below -->
    <section>
        <h2 class="text-2xl font-semibold mt-4">
            <!-- subtitle here -->
            About {{ company.name }}
        </h2>
        <p class="text-gray-700">
            <!-- description here -->
            {{company.description}}
        </p>
    </section>
    <!-- We're going to loop through the employees -->
    <section class="mt-6">
        <h2 class="text-2xl font-semibold">Employees</h2>
        <!-- Django templating language allows you to access
            the relationship across models with "." if it's a
            one to many (like company to employees) you can use the
            .all (with brackets to loop through them)
        -->
        <ul class="list-disc pl-5">
        {% for employee in company.employees.all %}
            <li>
                {{ employee.first_name }} {{ employee.last_name }}
            </li>
        {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}