{% extends 'base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold underline">
        <!-- title here-->
        Contact Us
    </h1>
    <!-- display a message if the submission
     is successful. -->
    {% if success %}
    <p>Message sent.</p>
    {% endif %}


    <form method="post" class="mt-4">
        <!-- We need the csrf Token -->
        {% csrf_token %}
        <!-- Fields below -->
        {{ form.as_p }}
        <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
            Submit
        </button>
    </form>
</div>
{% endblock %}